@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

#chapter-1-12 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-1-12 blockquote p:last-child{
	text-align: right;
}

p.articles{
	text-align: center;
	text-indent: 0
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: center;
}

footer{
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
